body {
  background-color: #a3c4f8;
  color: rgb(255, 255, 255);
}

.suasConsultas{
    text-align: center;
    margin-top: 3%;
}
/* cor do suas*/
mark {
    background-color: #2b6eb6;  
    color: white;              
    padding: 2px 15px;
    border-radius: 6px;
}

img {
  max-width: 100%;
  height: auto;
  
}

.corPadrao{
    background-color: #4577c6;
}

.centroTela{
    background-color: #ccdffe;
    width:50%;
}

.maisConsultas{
    color:rgb(0, 0, 0);
    text-align: center;
    margin-top: 3%;
}

.cardsConsultas{
    margin-top: 5%;
    background-color: #bdd1f2;
    border-radius: 10px;
    padding: 18px 0px 0px;
}

.adicionarConsulta{
    margin-top: 2%;
    width: 5%;
}
.cardsIndividuais{
    height: 9rem;
}

.botoes .btn {
    margin-top: 3%;
    min-width: 250px;
}

.nav-link ,.navbar-brand {
    color: white; 
}