body {
  background-color: #a3c4f8;
  color:black;
}

.suasConsultas{
    text-align: center;
    margin-top: 3%;
}
/* cor do suas*/
mark {
    background-color: #2b6eb6;  
    color: white;              
    padding: 2px 15px;
    border-radius: 6px;
}

img {
  max-width: 100%;
  height: auto;
  
}

.corPadrao{
    background: #3a85e8;
background: linear-gradient(90deg, rgba(58, 133, 232, 1) 0%, rgba(108, 143, 217, 1) 57%, rgba(58, 133, 232, 1) 100%);
}

.centroTela{
    background-color: #ccdffe;
    width:50%;
}



.maisConsultas{
    color:rgb(0, 0, 0);
    text-align: center;
}

.cardsConsultas{
    margin-top: 5%;
    background-color: #ccdffe;
}

.adicionarConsulta{
    margin-top: 6%;
    width: 7%;
}

.cardsMaisConsultas{
    background-color: #ccdffe;
}


.botoes .btn {
    margin-top: 3%;
    min-width: 250px;
}

.nav-link ,.navbar-brand {
    color: black; 
}

body {
        background-color: #a4c2e6; 
        font-family: 'Arial', sans-serif; 
    }
    .btn-arredondado {
        border-radius: 15px;
    }

    .text-primary {
    color: #0d6efd !important; 
    transition: transform 0.2s;
    }
    .text-primary:hover {
    transform: scale(1.3); 
}

.btn-white:hover {
    background-color: #f8f9fa !important;
    transform: translateY(-2px);
    transition: 0.2s;
}

.btn-white:active {
    background-color: #e9ecef !important;
    transform: scale(0.98);
}
